services:
  redis:
    image: redis
    ports:
      - '6379'
  postgres:
    container_name: connectus-db
    image: postgres
    environment:
      POSTGRES_DB: ${POSTGRES_DEV_DB}
      POSTGRES_PASSWORD: ${POSTGRES_DEV_PASSWORD}
      POSTGRES_USER: ${POSTGRES_DEV_USER}
    ports:
    - "5433:5432"
    volumes:
    - pg-data:/var/lib/postgresql
  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin

volumes:
  pg-data:
  pgadmin_data:
